<div class="container">
    <h2 class="title d-flex"><span class="border-bottom mx-auto mb-5">プロフィール編集</span></h2>

    <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages", model: f.object %>

        <div class="media col-8 d-flex mx-auto">
            <div class="user-image col-5 d-flex">
                <div class="form-group">
                    <label>
                    <div class="form_main">
                        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "150x150", class: 'image_form' %>
                    </div>
                    <div class="form_sub">
                        <%= f.attachment_field :profile_image, class: 'form-control-file' %>
                    </div>
                    </label>
                </div>
            </div>

            <div class="user-inf media-body col-7">
                <div class="form-group">
                    <%= f.label :name, "名前" %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :introduction, "自己紹介" %>
                    <%= f.text_area :introduction, class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="col-8 d-flex mx-auto mt-5">
            <div class="mx-auto">
                <%=link_to 'キャンセル', user_path(@user), class: "btn-lg btn-light mr-2" %>
                <%= f.submit '変更を保存', class: 'btn-lg btn-outline-dark' %>
            </div>
        </div>
    <% end %>
</div>