<div class="container">
	<%= render "shared/alert", alert: alert %>

	<div class="row">
		<div class="col-6 mx-auto my-3">
			<%= search_form_for @search, url: search_users_path do |f| %>
      			<%= f.search_field :name_cont, class: "form-control", placeholder: "ユーザーを検索" %>
      			<%= f.submit '検索', class: "btn btn-success d-none" %>
    		<% end %>
    	</div>
   	</div>

   	<ul class="nav nav-pills col-8 mx-auto my-4 p-0" role="tablist">
	    <li class="nav-item col-6 mb-5 p-0">
		      <a class="nav-link px-0 border text-center border" href="<%= search_posts_path %>">投稿</a>
		    </li>
		    <li class="nav-item col-6 mb-5 p-0">
	      		<a class="nav-link active px-0 border text-center border" href="#">ユーザー</a>
		    </li>
		</ul>

   	<div id="scroll">
		<%= render "user_list", users: @search_users %>
		<%= link_to_next_page @search_users, '次のページ', class: "next" %>
	</div>
	<button class="button" type="button">もっと見る</button>
	<%= render "shared/scroll_setting" %>
</div>