<div class="container">
	<div class="row">
		<h1>おいしいつけ麺をつけログで共有しよう!</h1>
   </div>

 	<div class="row">
	 	<ul class="nav nav-pills nav-fill" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="arrival-tab" data-toggle="tab" href="#arrival" role="tab" aria-controls="arrival" aria-selected="true">新着</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">人気</a>
		  </li>
		</ul>
 	</div>

 	<div class="row">
		<div class="tab-content w-100">
		  <!-- 新着 -->
			<div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
	  			<div id="arrival-jscroll">
	  				<!-- TODO 部分テンプレート化 -->
	  				<div class="arrival-jscroll">
						<div class="row">
							<% @arrival_posts.each do |post| %>
								<%= render "posts/post_card", post: post %>
							<% end %>
						</div>
					</div>
					<%= link_to_next_page @arrival_posts, '次のページ', class: "arrival-next" %>
	  			</div>
	  			<!-- TODO 部分テンプレート化 -->
	  			<button class="arrival-button" type="button">もっと見る</button>
				<%= render "shared/scroll_setting" %>
		  	</div>

		  	<!-- 人気 -->
			<div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
				<div id="popular-jscroll">
	  				<div class="popular-jscroll">
						<div class="row">
							<% @popular_posts.each do |post| %>
								<%= render "posts/post_card", post: post %>
							<% end %>
						</div>
					</div>
	  				<%= link_to_next_page @popular_posts, '次のページ', class: "popular-next" %>
	  			</div>
	  			<!-- TODO 部分テンプレート化 -->
	  			<button class="popular-button" type="button">もっと見る</button>
	  			<%= render "shared/scroll_setting" %>
			</div>
		</div>
	</div>
</div>

<script>
	$("#popular").removeClass("active");
	$("#popular").removeClass("show");
</script>