<div class="card-foot d-flex px-0 pt-0 pb-3 bg-white">
	<div class="user_inf mr-auto">
		<span class="img" alt="Card image">
			<%= link_to user_path(post.user) do %>
				<%= attachment_image_tag post.user, :profile_image, fallback: "no_image.jpg", size: "55x55", class: "rounded-circle" %>
			<% end %>
		</span>
		<span class="nav-item post-name ml-1" style="font-size: 1.1em;">
			<%= link_to post.user.name, user_path(post.user), class: "text-dark" %>
		</span>
	</div>

	<div class="post_inf pt-4">
		<% if user_signed_in? %>
			<% if current_user.admin? %>
				<%= link_to '削除', post_path(post, admin: "admin"), method: :delete, class: 'btn btn-danger btn-sm' %>
			<% end %>
		<% end %>
		<%= link_to "コメント #{post.post_comments.count} 件", post_path(post), class: "small text-secondary" %>
		<%= link_to "いいね! #{post.likes.count} 件", post_path(post), class: "small text-secondary" %>
	</div>
</div>