<div class="container">
	<div class="col-6 d-flex mx-auto">
		<%= form_with model: @post, local: true do |f| %>
			<%= render "shared/error_messages", model: f.object %>

			<h2 class="title d-flex"><span class="border-bottom mx-auto">新規投稿</span></h2>

			<div class="post-image d-flex mt-3">
				<div class="form-group">
					<label>
						<div class="form_main">
							<%= image_tag 'no_image.jpg', size: "150x150"  %>
		                </div>
		                <div class="form_sub">
		                    <%= f.attachment_field :post_images_images, multiple: true, class: 'form-control-file' %>
		                </div>
					</label>
				</div>
			</div>

			<div class="post-title">
				<div class="form-group">
					<%= f.label :title, "タイトル" %>
					<%= f.text_field :title, class: 'form-control' %>
				</div>
			</div>

			<div class="post-tag">
				<div class="form-group">
					<%= f.label :tag_list, "タグ" %>
					<%= f.text_area :tag_list, value: @post.tag_list.join(','), class: 'form-control' %>
				</div>
			</div>

			<div class="post-text">
				<div class="form-group">
					<%= f.label :text, "本文" %>
					<%= f.text_area :text, class: 'form-control' %>
				</div>
			</div>

			<div class="post-rate">
				<div class="form-group">
					<%= f.hidden_field :rate, class: 'form-control' %>
					<div id="star-rate"></div>
				</div>
			</div>

			<%= f.submit nil, class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<script>
$('#star-rate').raty({
	path: '/assets/',
	size: 50,
	half: true,
	scoreName: 'post[rate]'
})
</script>