<div class="container">
	<%= render "shared/alert", alert: alert %>

	<div class="row">
		<%= search_form_for @search, url: search_posts_path do |f| %>
        	<%= f.search_field :title_or_text_or_user_name_cont, class: "form-control", placeholder: "投稿を検索" %>
        	<%= f.submit '検索', class: "btn btn-success" %>
     	<% end %>
   </div>

    <div class="row">
	   	<ul class="nav nav-pills">
		    <li class="nav-item">
		      <a class="nav-link active" href="#">投稿</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="<%= search_users_path %>">ユーザー</a>
		    </li>
		</ul>
	</div>

	<div id="jscroll">
		<%= render "posts/post_list", posts: @search_posts %>
		<%= link_to_next_page @search_posts, '次のページ', class: "next" %>
	</div>
	<button class="button" type="button">もっと見る</button>
	<%= render "shared/scroll_setting" %>
</div>