<div class="container">
	<% if @comment.present? %>
		<%= render "shared/error_messages", model: @comment %>
	<% end %>
	<%= render "shared/notice", notice: notice %>

	<div class="row media">
		<div class="post-left d-flex mr-3">
			<div class="bxslider">
			<% @post.post_images.each do |image| %>
				<%= attachment_image_tag image, :image, fallback: "no_image.jpg", size: "200x200" %>
			<% end %>
			</div>
		</div>

		<div class="post-right media-body">
			<p>タイトル</p>
			<p><%= @post.title %></p>
			<% @post.tag_list.each do |tag| %>
				<p class="badge badge-primary mr-1 p-2">
					<%= link_to tag, posts_path(tag_name: tag), class: "text-white" %>
				</p>
			<% end %>
			<p>本文</p>
			<p><%= @post.text %></p>
			<br>
			<div id="star-rate"></div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="post-status">
			<li class="list-unstyled">
				<%= @post.user.name %>
				<%= @post.created_at %>
				<span>コメント<%= @post.post_comments.count %> 件</span>

				<div class="post_<%= @post.id %>">
					<%= render "likes/like", post: @post %>
				</div>
			</li>
		</div>
	</div>
	<br>
	<% if current_user == @post.user || current_user.admin? %>
		<div class="row">
			<li class="list-unstyled">
				<%= link_to '削除', @post, method: :delete, class: 'btn btn-danger' %>
				<%= link_to '投稿編集', edit_post_path(@post), class: 'btn btn-primary' %>
			</li>
		</div>
	<% end %>
	<br>
	<br>
	<div class="row">
		<%= render "posts/comment_form", post: @post, comments: @comments %>
	</div>
	<br>
	<div class="row">
		<h4>コメント一覧</h4>
	</div>
	<br>
	<div class="row">
		<div class="comment_index">
			<%= render "posts/comment_index", post: @post %>
		</div>
	</div>
</div>

<script>
$('#star-rate').raty({
	path: '/assets/',
	size: 50,
	half: true,
	readOnly: true,
	scoreName: 'post[rate]',
	score: <%= @post.rate %>
})
</script>